:root{
    --main-bg-color: rgb(146, 251, 54);
    --main-logo-color: rgb(252, 252, 252);
    
    --text-color: rgb(30, 63, 0);
    --text-title-color: rgb(45, 206, 91);
    --text-body-title-color: rgb(79, 79, 77);
    --text-shadow-color: rgb(87, 87, 83);

    --main-a-color: #ffeb5c;
    --main-a-hover-color: rgb(197, 197, 195);
   
    --text-background-color:#41f991;

    --content-container-color: #3fb817;
    --cv-items-text-color: #65dc29;
    --cv-items-color: rgba(255, 255, 255, 0);
    --cv-title-color: #3afb67;
    --cv-body-color: rgb(167, 240, 136);

    --footer-bg-color: rgb(49, 49, 45);
    --footer-text-color: rgb(235, 232, 217);
  }


body {
  background-color: var(--main-bg-color);
	font-family: 'Fredoka One';
}

p {
  display: block;
  font-size: 1.1rem;
  color: var(--text-color);
}

a{
  color: var(--main-a-color);
}

a:hover{
  color:var(--main-a-hover-color);
}

a:visited{
  color: var(--main-a-color);
}

.top-container{
  width: 60%;
  height: 120px;
  margin: 0 auto 0 auto;
}

.logo{
  float: left;
  height: 100px;
  margin: 10px;
  background-color: var(--main-logo-color);
  border-radius: 20px;
  padding: 10px;
}

.top-container h1 {
  font-size: 2.8rem;
  padding: 0px;
}

.title{
  margin: auto;
  display: inline-block;
  text-shadow: 3px 3px var(--text-shadow-color);
  color: var(--text-title-color);
  text-align: center;
}
.mid{
  margin:auto;
  width: 500px;
}

.button{
  background-color: #65dc29;
  border: 2px white solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: crosshair;
  border-radius: 20px;
}

.subTitle{
  margin: 10px auto;
  width: 30%;
  color:var(--text-color);
  background-color: var(--text-background-color);
  padding: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  border-radius:5px;
}

.menu{
  float: right;
  margin: 0px auto;
  width: auto; 
}
p.menu-text{
  display: inline-block;
  color: var(--text-title-color);
  font-size: 2rem;
  padding: 0px;
  margin: auto;
  font-weight: bold;
}

.hamburger{
  height: 60px;
  width: 60px;
}

.profile-image-container{
  padding: 20px;
  margin-right: 20px;
}
.profile-image{
  float: left;
  padding: 0px;
  height: 300px;
  border: 2px solid var(--main-a-color);
  border-radius: 15px;

 }

.content-container{
  width: 40%;
  min-height: 200px;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0 30px 0 10px;
  background-color: var(--content-container-color);
  text-align: center; 
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgb(255, 255, 255); 
}

.content-title{
  position: relative;
  top: 20px;
  left: 10px;
  margin: 20px;
  
}

.content-body{
  position: relative;
  top: 0px;
  margin: auto;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.cv-items{
  padding: 0px;
  border: 0px solid;
  border-radius: 10px;
  background-color: var(--cv-items-color);
  color: var(--cv-items-text-color);
  text-shadow: 3px 3px #f9f585;
  margin: 5px auto;
}

.cvTitle{
  background-color: var(--cv-title-color);
  font-weight: bold;
  font-size: 1.6rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cvYear{
  background-color: var(--cv-year-color);
}

.cvBody{
  font-size: 1.6rem;
  background-color: var(--cv-body-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px;
}

.cvBody a{
  color: #000;
}
.cvBody p{
  color: var(--text-title-color);
}

.content-small-container{
  width: 60%;
  margin: 0 auto 0 auto;
}

.contact-images{
  float: left;
  padding-right: 10px;
  height: 32px;
  width: 32px;
}
.contact-items{
  height: 50px;
  width: 600px;

  border-top: 0px solid #ffffff;
}
  
div.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  text-align: center;
  z-index: 1;
  background-color: var(--footer-bg-color);
  font-size:0.7em;
  color: var(--footer-text-color);
  overflow:hidden ;
}

  