<%- include('headerc') %>

<div class="content-container">
    <div class="content-title">
        <h2 class="subTitle">Speed</h2>
        <a href="/setspeed1" class="button">Speed 1</a>
        <a href="/setspeed2" class="button">Speed 2</a>
        <a href="/setspeed3" class="button">Speed 3</a>
    </div>
</div>

<div class="content-container">
    <div class="content-title">
        <h2 class="subTitle">Highscore</h2>
    </div>
    <div class="content-body">
        <%highscores.forEach(function(highscores) {%>
            <div class="cv-items">
                <div class="cvTitle"><%=highscores.name%></div>
                <div class="cvBody"><%-highscores.score%> points</div>
            </div>
        <% }) %>
    </div> 
</div>

<%- include('footer') %>